@import url('https://fonts.googleapis.com/css?family=Roboto|Rubik:400,700');

:root{
    --selected-planet-bar-width: 300px;
    --selected-planet-icon-area-height: 160px;
    --selected-planet-icon-size: 80px;
    --insouts-slide-out: 200px;
    --insouts-padding: 100px;
    --menu-font-size: 18px;
    --smaller-font-size: 12px;
    --button-height: 35px;
    --set-focus-button-height:60px;
    --selected-planet-icon-padding-top: calc((var(--selected-planet-icon-area-height) - var(--selected-planet-icon-size)) / 2);
    --selected-planet-icon-padding-side: calc((var(--selected-planet-bar-width) - var(--selected-planet-icon-size)) / 2);

    --color-dark: #212121;
    --color-white: #eeeeee;
    --color-red: #F44336;
    --color-green: #4CAF50;
    --color-darkish: #455A64;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size:20px;
    background: var(--color-white);
}
#clickClearfix{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}

.dark{
    background:var(--color-dark);
}
.darkish{
    background:var(--color-darkish);
}
.white{
    background:var(--color-white);
}
.colorWhite{
    color:var(--color-white);
}
.colorDark{
    color:var(--color-dark);
}

hr{
    width:80%;
    margin-left:10%;
    border:0;
    height:3px;
}

/*************************/
/*      Planet List      */
/*************************/

#planetList{
    width:var(--selected-planet-bar-width);
    height:100%;
    position:fixed;
    left:0px;
    top:0;
    box-shadow:0 0 10px #222;
    z-index: 1;
    overflow: auto;
}

#planetList .sectionHeader{
    height:20px;
    font-size:15px;
    padding:7px 15px;
    font-weight: bold;
}

#planetList .planetList{
    margin-top:20px;
}

#planetList .planetList:nth-child(1){
    margin-top:0px;
}

#planetList .planet, #insOutsList .planet{
    --height: 50px;
    height:var(--height);
    position:relative;
    padding:10px;
}

#planetList .planet .planetIcon, #insOutsList .planet .planetIcon{
    width:var(--height);
    height:var(--height);
    float:left;
    margin-left:18px;
    background:var(--color-white);
}

#planetList .planet .planetName, #insOutsList .planet .planetName{
    float:left;
    font-weight:bold;
    font-size: var(--menu-font-size);
    line-height: var(--height);
    padding:0px 30px;
    text-align: center;
}

/**********************************/
/*      Selected Planet Menu      */
/**********************************/

#selectedPlanet{
    width: var(--selected-planet-bar-width);
    height:100%;
    position:fixed;
    left:calc(var(--selected-planet-bar-width) * -1);
    top:0;
    box-shadow:0 0 10px #222;
    z-index:2;
	transition: 500ms cubic-bezier(.75,-0.5,0,1.75);
}

#selectedPlanet.open{
    left:0;
}


/****** Icon area ******/

.mainIcon{
    width: var(--selected-planet-bar-width);
    height: var(--selected-planet-icon-area-height);
    position:relative;
}

#tempPlanetIcon{
    width:var(--selected-planet-icon-size);
    height:var(--selected-planet-icon-size);
    position:absolute;
    left:var(--selected-planet-icon-padding-side);
    top:calc(var(--selected-planet-icon-padding-top) - 20px);
    border-radius:50%;
}

#planetName{
    position:absolute;
    width:100%;
    text-align:center;
    bottom:5px;
    font-size:35px;
    font-weight:bold;
}

.iconStat{
    --side-padding: 50px;
    --top-padding: 20px;
    --bottom-padding:60px;
    font-size:var(--smaller-font-size);
    font-weight: bold;
    position:absolute;
    color : var(--color-white);
}

.iconStat.importing{
    color: var(--color-red);
}

.iconStat.exporting{
    color: var(--color-green);
}

.iconStat.exporting::after,
.iconStat.importing::after{
    font-family: 'icomoon';
    speak: none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:1;
}

.iconStat.exporting::after{
    content:"\ea32";
}

.iconStat.importing::after{
    content:"\ea36";
}

.iconStat:nth-child(1){
    left:var(--side-padding);
    top:var(--top-padding);
}

.iconStat:nth-child(2){
    right:var(--side-padding);
    top:var(--top-padding);
}

.iconStat:nth-child(3){
    left:var(--side-padding);
    bottom:var(--bottom-padding);
}

.iconStat:nth-child(4){
    right:var(--side-padding);
    bottom:var(--bottom-padding);
}

/****** Stat Bars ******/

.stat{
    position:relative;
    top:30px;
    height:40px;
}
.stat .name{
    position:relative;
    float:left;
    font-size:var(--smaller-font-size);
    padding-left:10px;
    font-weight:bold;
}
.stat .bar{
    box-sizing:border-box;
    width: 55%;
    height:20px;
    position:absolute;
    right:10px;
    border-radius:10px;
    border:3px solid var(--color-white);
}
.stat .bar::before{
    content:"";
    width:var(--bar-width);
    height:100%;
    background:var(--color-white);
    position:absolute;
    left:0;
    top:0;
}

/****** Buttons ******/

.button{
   cursor:pointer; 
   height:var(--button-height);
   line-height: var(--button-height);
}

#inOutButtons{
    --padding: 20px;
    --width: calc(var(--selected-planet-bar-width) - var(--padding) * 2);
    position:absolute;
    bottom:0;
    margin-bottom:var(--padding);
    left:var(--padding);
    width:var(--width);
}

#inOutButtons .button{
    width:100%;
    float: left;
    margin:5px 0px;
    text-align:center;
    position:relative;
    font-weight:bold;
}


/***************************/
/*      Ins Outs List      */
/***************************/

#insOutsList{
    position:fixed;
    padding-left:var(--insouts-padding);
    left:calc(var(--insouts-padding) * -1 - 140px);
    top:0;
    width:calc(var(--selected-planet-bar-width) + 100px);
    height:100%;
    overflow:auto;
    /*
    transition: .5s ease-in-out;
    */
	transition: 500ms cubic-bezier(.75,-0.5,0,1.75);
}

#insOutsList.open{
    left:var(--insouts-slide-out);
}

/* This is used so that theirs no gap when 
 * the insOutList does its elastic transition
 */
#insOutsList::before, #selectedPlanet::before{
    content: "";
    --width: 150px;
    width:var(--width);
    height:100%;
    position:absolute;
    left:calc(var(--width) * -.9);
    background:var(--color-darkish);
}
#selectedPlanet::before{
    background:var(--color-dark);
}

#insOutsList .planet .setButton{
    position: relative;
    box-sizing: border-box;
    width: var(--height);
    height: var(--height);
    float:right;
    --font-size:30px;
    padding:calc(var(--font-size) / 2 - 4px);
    font-size:var(--font-size);
}
#insOutsList .planet .setButton.selected{
    color: var(--color-green);
}




/****************/
/*    Focus     */
/****************/

#setFocusButton{
    width:270px;
    position:fixed;
    right:0;
    bottom:0;
    height:var(--set-focus-button-height);
    text-align: center;
    font-weight: bold;
    visibility: hidden;
    line-height:var(--set-focus-button-height);
}
#setFocusButton.shown{
    visibility: visible;
}

#setFocusDrawer{
    --icon-height:60px;
    width: calc(var(--icon-height) * 5 + 100px);
    height:var(--icon-height);
    position:fixed;
    bottom:var(--set-focus-button-height);
    right:calc(var(--icon-height) * -5 - 100px);
	transition: 500ms cubic-bezier(.75,-0.5,0,1.75);
}
#setFocusDrawer.open{
    right:-130px;
}

#setFocusDrawer span{
    --font-size: 30px;
    padding:calc(var(--font-size) / 2);
    box-sizing: border-box;
    display: inline-block;
    width:var(--icon-height);
    height:var(--icon-height);
    font-size: var(--font-size);
    cursor:pointer;
}

#setFocusDrawer span.selected{
    color: var(--color-green);
}